div.c1,
div.c2,
div.c3 {
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
    outline: 3px solid lightblue;
    outline-offset: 30px;
}

div.c1 img,
div.c3 img {
    height: 200px;
    width: 200px;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    border: 2px solid red;
}

div.c2 img {
    height: 200px;
    width: 200px;
    padding: 30px;
    margin: 30px;
    border-radius: 50%;
    border: 2px solid red;
}

div.c1 p,
div.c2 p,
div.c3 p {
    text-align: center;
    border: 2px solid red;
    padding: 5px;
    margin: 0px 20px 10px 20px;
}

h2 {
    color: rgb(23, 68, 244);
    border: 4px solid rgb(232, 12, 12);
}